<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-foto-habitacion-heading"
        data-cy="FotoHabitacionCreateUpdateHeading"
        jhiTranslate="inmobiliariaApp.fotoHabitacion.home.createOrEditLabel"
      >
        Create or edit a Foto Habitacion
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="inmobiliariaApp.fotoHabitacion.url" for="field_url">Url</label>
          <input type="text" class="form-control" name="url" id="field_url" data-cy="url" formControlName="url" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="inmobiliariaApp.fotoHabitacion.habitacion" for="field_habitacion"
            >Habitacion</label
          >
          <select class="form-control" id="field_habitacion" data-cy="habitacion" name="habitacion" formControlName="habitacion">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                habitacionOption.id === editForm.get('habitacion')!.value?.id ? editForm.get('habitacion')!.value : habitacionOption
              "
              *ngFor="let habitacionOption of habitacionsSharedCollection; trackBy: trackHabitacionById"
            >
              {{ habitacionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
