<div>
  <h2 id="page-heading" data-cy="ServicioHeading">
    <span jhiTranslate="inmobiliariaApp.servicio.home.title">Servicios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="inmobiliariaApp.servicio.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-servicio"
        [routerLink]="['/servicio/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="inmobiliariaApp.servicio.home.createLabel"> Create a new Servicio </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="servicios?.length === 0">
    <span jhiTranslate="inmobiliariaApp.servicio.home.notFound">No servicios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="servicios && servicios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="inmobiliariaApp.servicio.nombre">Nombre</span></th>
          <th scope="col"><span jhiTranslate="inmobiliariaApp.servicio.precioHoras">Precio Horas</span></th>
          <th scope="col"><span jhiTranslate="inmobiliariaApp.servicio.horas">Horas</span></th>
          <th scope="col"><span jhiTranslate="inmobiliariaApp.servicio.inmueble">Inmueble</span></th>
          <th scope="col"><span jhiTranslate="inmobiliariaApp.servicio.empresa">Empresa</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let servicio of servicios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/servicio', servicio.id, 'view']">{{ servicio.id }}</a>
          </td>
          <td>{{ servicio.nombre }}</td>
          <td>{{ servicio.precioHoras }}</td>
          <td>{{ servicio.horas }}</td>
          <td>
            <div *ngIf="servicio.inmueble">
              <a [routerLink]="['/inmueble', servicio.inmueble?.id, 'view']">{{ servicio.inmueble?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="servicio.empresa">
              <a [routerLink]="['/empresa', servicio.empresa?.id, 'view']">{{ servicio.empresa?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/servicio', servicio.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/servicio', servicio.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(servicio)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
