<div>
  <h2 id="page-heading" data-cy="FotoHabitacionHeading">
    <span jhiTranslate="inmobiliariaApp.fotoHabitacion.home.title">Foto Habitacions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="inmobiliariaApp.fotoHabitacion.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-foto-habitacion"
        [routerLink]="['/foto-habitacion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="inmobiliariaApp.fotoHabitacion.home.createLabel"> Create a new Foto Habitacion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fotoHabitacions?.length === 0">
    <span jhiTranslate="inmobiliariaApp.fotoHabitacion.home.notFound">No fotoHabitacions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fotoHabitacions && fotoHabitacions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="inmobiliariaApp.fotoHabitacion.url">Url</span></th>
          <th scope="col"><span jhiTranslate="inmobiliariaApp.fotoHabitacion.habitacion">Habitacion</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fotoHabitacion of fotoHabitacions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/foto-habitacion', fotoHabitacion.id, 'view']">{{ fotoHabitacion.id }}</a>
          </td>
          <td>{{ fotoHabitacion.url }}</td>
          <td>
            <div *ngIf="fotoHabitacion.habitacion">
              <a [routerLink]="['/habitacion', fotoHabitacion.habitacion?.id, 'view']">{{ fotoHabitacion.habitacion?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/foto-habitacion', fotoHabitacion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/foto-habitacion', fotoHabitacion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fotoHabitacion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
